

/*body {background-image: url("Background.jpg"); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; margin: 0; font-family: Helvetica, sans-serif; background-color:#495e66;}*/
/*.background-container {width: 100%; height: 100vh; /* 100% высоты viewport */ /*background-image: url('path/to/your/image.jpg');  background-size: cover;  background-position: center; background-repeat: no-repeat;}*/
body {background-color: #b5afab; margin: 0; font-family: Helvetica, sans-serif;height: 100%; background-attachment: fixed;
            margin: 0;
            padding: 0;}

        
        .content {max-width: 100%;}

/* Таблица */
.B {font-weight: bold; font-size: 1.1em; text-align: center;}
.table_blur {background: #f5ffff; border-collapse: collapse; text-align: left; font-size: 1.07em;}
.table_blur th {border-top: 1px solid #777777; border-bottom: 1px solid #777777; box-shadow: inset 0 1px 0 #999999, inset 0 -1px 0 #999999; color: white; padding: 15px 20px; position: relative; text-align: center;}
.table_blur th:after {content: ""; display: block; position: absolute; left: 0; top: 25%; height: 25%; width: 100%; background: linear-gradient(rgba(255, 255, 255, 0), rgba(255,255,255,.08));}
.table_blur tr:nth-child(odd) {background: #ebf3f9;}
.table_blur th:first-child { border-left: 1px solid #777777; border-bottom:  1px solid #777777; box-shadow: inset 1px 1px 0 #999999, inset 0 -1px 0 #999999;}
.table_blur th:last-child {border-right: 1px solid #777777; border-bottom:  1px solid #777777; box-shadow: inset -1px 1px 0 #999999, inset 0 -1px 0 #999999;}
.table_blur td {border: 1px solid #e3eef7; padding: 15px 20px; position: relative; transition: all 0.5s ease;}
.smort{background: linear-gradient(#571508, #f06559);}
.block{background: linear-gradient(#082254, #5c91f2);}

/* Выравниваем таблицу по центру окна  */
table {margin-left: auto; margin-right: auto;}

/* Убираем подчёркивание  ссылок*/ 
a {text-decoration: none; color: black;}


/*.container .png {width: 50px; height: 50px; border: solid;}*/
.muzhik{position: fixed; bottom: 0; height:70%;  width:auto; right:5%;}
.tyan{position: fixed;  bottom: 0; height:70%; width:auto; right:-2%;}


/*Таблицу делаем поверх картинок*/
.tabcontent {position: relative;}

h3 {color: white;}

#red {margin-left: auto; margin-right: auto; background-color: rgba(255, 255, 255, 0.5);  }


/*input*/
#inputFields {margin-left: auto; margin-right: auto; display:flex;  padding-bottom: 1.5em; justify-content: center; font-size:16px;}
.data-input {font-size: 16px;}
select {width: 4em; line-height: 1.3; margin: 0; border: 2px solid #aaa; font-size: 16px; padding: 10px; margin-bottom: 10px; }
textarea {width: 14em; height: 4em; font-size: 16px; padding: 10px; margin-bottom: 10px;border: 2px solid #aaa;}
.input-row {font-size: 1.4em; margin-left: 0.7em; margin-right:0.7em; text-align: center;}




.header__container, .container {
    width: 100%;
    max-width: 100%;
}

img {
    max-width: 100%;
    height: auto;
	margin-left: auto;
    margin-right: auto;
	display: flex;
}