body {
  background-image: url("Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color:#495e66;}

@font-face {
font-family: "night";
src: url("nightmare.otf") format("opentype");
}
@font-face {
font-family: "charm";
src: url("Charming.otf") format("opentype");}




/*тексты*/
.kanicoName{
  font-family: charm;
  font-size: 4vw;
  position: absolute;
  top: 13%;
  left: 10%;
  color: white;}
  
.name{
  font-family: night;
  font-size: 15vw;
  position: absolute;
  top: 20%;
  left: 10%;
  color: #bd083f;}
  
.date{
  font-size: 3vw;
  position: absolute  ;
  top: 48%;
  left: 10%;
  color: #c7ccd0;}

.place{
  font-size: 3vw;
  position: absolute;
  top: 55%;
  left: 10%;
  color: #c7ccd0;}
  
.time{
  font-size: 2.5vw;
  position: absolute;
  top: 78%;
  left: 10%;
  color: #c7ccd0;}
  
  
  
  
  
/*Контейнеры*/
.container .png {
  width: 100vw;
  height: auto;
}
.container{
  position: relative;
  width: 50vw;
}
.container .ticket {
  position: absolute;
  top: 85%;
  left: 10%;}
 
.container .cos {
  position: absolute;
  top: 85%;
  left: 44%;}
  
.muzhik{
  position: fixed;
  bottom: 0;
  height:30vw;
  min-height:500px;
  width:auto;
  right:15%;
}
.tyan{
  position: fixed;
  bottom: 0;
  height:30vw;
  min-height:500px;
  width:auto;
  right:10%;
  }



/*кнопки*/
.container .btn {
  width: 15vw;
  height: 4vw;
  font-size: 1.5vw;
  padding: 2%;
  border: 5px white;
  cursor: pointer;
  border-radius: 40px;
  background-color: rgba(255,255,255,0.2);
  position: absolute;}
  

.container .btn:hover {
 background-color: rgba(255,255,255);}
 
.container .btn span{
  color: #c6ced1;
  filter:opacity(100%);}

.container .btn:hover span{
	color: #2b2c2e;}